@model IEnumerable<NotYummyAnime.Anime>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimeInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Poster)
            </td>
            <td style="font-size: 120%; font-family: monospace; color: #ff00af">
                @Html.DisplayFor(modelItem => item.AnimeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimeInfo.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnimeId">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.AnimeId">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.AnimeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
